<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Codepage="1252" Manufacturer="Smart Vaults" Id="*" Language="1033" Name="Smart Vaults" Version="VERSION_PLACEHOLDER" UpgradeCode="8426c43c-88d4-4972-b967-49d2fc43bc97">

    <Package Keywords='Installer' Description="Smart Vaults VERSION_PLACEHOLDER Installer" Manufacturer='Smart Vaults' InstallerVersion='200' InstallScope="perMachine" Languages='1033' Compressed='yes' SummaryCodepage='1252' />
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed" />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Smart Vaults VERSION_PLACEHOLDER Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='SmartVaults' Name='Smart Vaults'>
          <Directory Id="INSTALLDIR" Name="bin">
            <Component Id="MainExecutable" Guid="d2458a4c-26a0-43eb-a672-91d9371b1c14">
              <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Icon="smartvaults-desktop.ico" IconIndex="0" WorkingDirectory="INSTALLDIR" Name="Smart Vaults" Advertise="yes" />
              <File Id="SmartVaultsDesktopEXE" Name="smartvaults-desktop.exe" Source="smartvaults-desktop.exe" KeyPath="yes" DiskId="1" />
            </Component>
            <Component Id="libstdcDLL" Guid="751c2189-5fd0-4171-8568-75b631fc0379" >
              <File Id="libstdcDLL" Source="libstdc++-6.dll" KeyPath="yes" DiskId="1"/>
            </Component>
            <Component Id="libgccDLL" Guid="38998612-4d91-4085-a0cc-dee4dc169f7f" >
              <File Id="libgccDLL" Source="libgcc_s_seh-1.dll" KeyPath="yes" DiskId="1"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  
    <Icon Id="smartvaults-desktop.ico" SourceFile="smartvaults-desktop.ico" />

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="libstdcDLL" />
      <ComponentRef Id="libgccDLL" />
    </Feature>

  </Product>
</Wix>
