.tox/
dist/
smartvaults_sdk.egg-info/
__pycache__/
libsmartvaults_ffi.dylib
.idea/
.DS_Store

*.swp

src/smartvaults-sdk/nostr.py
src/smartvaults-sdk/nostr_sdk.py
src/smartvaults-sdk/smartvaults_sdk.py
src/smartvaults-sdk/*.so
*.whl
build/

testing-setup-py-simple-example.py
