[Desktop Entry]
Name=Coinstr
Version=VERSION_PLACEHOLDER
Comment=Using nostr to coordinate Bitcoin spending policy signatures and multi-custody
Exec=coinstr %u
Icon=coinstr
Type=Application
Categories=Finance;
StartupNotify=true
StartupWMClass=coinstr
Terminal=false
Keywords=Bitcoin;Nostr
X-KDE-Keywords=Bitcoin;Nostr
X-Purism-FormFactor=Workstation
Actions=Testnet;

[Desktop Action Testnet]
Exec=coinstr --testnet %u
Name=Coinstr Testnet