[Desktop Entry]
Name=Coinstr
Version=VERSION_PLACEHOLDER
Comment=Using nostr to coordinate Bitcoin spending policy signatures and multi-custod
Exec=coinstr
Icon=coinstr
Type=Application
StartupWMClass=coinstr
Terminal=false
Keywords=Bitcoin;Nostr
X-KDE-Keywords=Bitcoin;Nostr
X-Purism-FormFactor=Workstation